.navbar {
  height: 60px;
}

.navbar a {
  font-size: 20pt;
  line-height: 40px;
}

.allergens {
  overflow: hidden;
  padding: 15px 0px 20px 0px;
}

.allergens h4 {
  padding-right: 0px;
  margin-top: 0;
  margin-bottom: 10px;
}

.allergens ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}

.allergens ul input {
  position: relative;
  top: 2px;
  left: 0px;
  margin-right: 10px;
}

.allergens li {
  float: left;
}

.search-results > h3 {
  padding: 30px 0px 0px;
}

.result-items {
  list-style: none;
  padding: 20px 0px;
  margin: 0px;
}

.result-items > li {
  padding-left: 0;
  padding-bottom: 15px;
}

.result-items > li > div {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding-bottom: 30px;
}
