.navbar {
  height: 60px;
}

.navbar a {
  color: white;
  font-size: 20pt;
  line-height: 40px;
}

.logo {
  background-color: #13C42B;
  width: 37px;
  height: 37px;
  border: 2px solid #13C42B;
  border-radius: 5px;
  float: left;
  margin-top: 15px;
  margin-right: 12px;
}

.inner-logo {
  width: 32px;
  height: 32px;
  background-color: #13C42B;
  border: 2px solid white;
  border-radius: 5px;
}

.af {
  position: relative;
  top: -6px;
  left: -2px;
  font-size: 9pt;
  color: white;
  text-align: center;
  font-family: 'Caveat', cursive;
}

.product-detail {
  padding-bottom: 30px;
}

.comments-section {
  padding-top: 5px;
  padding-bottom: 10px;
}

.comment-box {
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 6px 15px;
}

.comment-box .username {
  font-weight: bold;
  font-size: 10pt;
  margin-bottom: 3px;
}

.comment-box p {
  font-size: 10pt;
}

form h4 {
  font-size: 12pt;
  font-weight: 500;
  padding-bottom: 6px;
}

form h5 {
  margin-bottom: 5px;
}

form label {
  font-weight: 400;
  padding-bottom: 0;
  margin-bottom: 0;
}

form .add-comment {
  position: relative;
  left: 10px;
}

form input[type="submit"] {
  margin-top: 20px;
}

footer {
  font-size: 10pt;
  margin-top: 40px;
  padding: 8px 0;
  text-align: center;
  border-top: 1px solid #dddddd;
}
