.para {
    font-size: 16pt;
}

.navbar {
  height: 60px;
}

.navbar a {
  color: white;
  font-size: 20pt;
  line-height: 40px;
}

.logo {
  background-color: #f55e61;
  width: 37px;
  height: 37px;
  border: 2px solid #f55e61;
  border-radius: 5px;
  float: left;
  margin-right: 12px;
}

.inner-logo {
  width: 32px;
  height: 32px;
  background-color: #f55e61;
  border: 2px solid white;
  border-radius: 5px;
}

.af {
  position: relative;
  top: -6px;
  left: -2px;
  font-size: 9pt;
  color: white;
  text-align: center;
  font-family: 'Caveat', cursive;
}
.search-results > h3 {
  padding: 30px 0px 0px;
}

.result-items {
  list-style: none;
  padding: 20px 0px;
  margin: 0px;
}

.result-items > li {
  padding-left: 0;
  padding-bottom: 15px;
}
.result-items > li > div {
  height: 300px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

footer {
  font-size: 10pt;
  margin-top: 40px;
  padding: 8px 0;
  text-align: center;
  border-top: 1px solid #dddddd;
}
