.navbar {
  height: 60px;
}

.navbar a {
  font-size: 20pt;
  line-height: 40px;
}

.search-results > h3 {
  padding: 30px 0px 0px;
}

.result-items {
  list-style: none;
  padding: 20px 0px;
  margin: 0px;
}

.result-items > li {
  padding-left: 0;
  padding-bottom: 15px;
}
.result-items > li > div {
  height: 300px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
