{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>The Allergen Filter</title>
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <!-- <link href="css/index-style.css" rel="stylesheet"> -->
      <link rel="stylesheet" href="{% static 'index-style.css' %}">

    <script src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <!--[if lt IE 9]>
      <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>-->
      <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <![endif]-->
  </head>
  <body>
    <header>
      <nav class="navbar navbar-inverse navbar-static-top">
      	<div class="container">
      		<div class="navbar-header">
      			<a href="#" class="navbar-brand">The Allergen Filter</a>
      		</div>
      	</div>
      </nav>
    </header>
    <main>

		<div class="col-md-12">
		  <h3>{{ product.name }}</h3>
		  <img src="{{ product.picture }}" height="100px">
		  <h4>Available in</h4>
		  <ul>
			<li><a href="#">Woolworths</a></li>
			<li><a href="#">Coles</a></li>
		  </ul>
		</div>
		
		{% for comment in product.comment_set.all %}
		<div class="row">
		<div class="col-md-4" style="border: solid 1px">
		  <p>{{ comment.comment_text }}
		  <span style="float:right">{{ comment.username }}</span>
		  </p>
		</div>
		</div>
		{% endfor %}

		<form action="{% url 'product_comment' product.id %}" method="post">
			{% csrf_token %}
			<label for="comment">Comment</label>
			<input type="text" name="comment">
			<br>
			<label for="username">Username</label>
			<input type="text" name="username">
			<br>
			<input type="submit" value="Comment">
		</form>

      <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
      <!--<script src="js/bootstrap.min.js"></script>-->
    </main>
  </body>
</html>
